# API Configuration
NEXT_PUBLIC_API_BASE_URL=

# Authentication
NEXT_PUBLIC_AUTH_COOKIE_KEY=aiub_fst_auth_token

# Security
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=q9b+KnTOpB3c7n4jgQYb6yL6j5eLmkloHZB/Q4+4Y3A=
